<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{months.current.month}} {{months.current.year}}</title>
</head>
<body>
    <h1>Monthly calendar</h1>
    {{> menu}}
    {{> calendar}}
    {{> footer}}
</body>