table {
    border-collapse: collapse;
    border: 2px solid black;
}
th, td{
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}
.bold{
    font-weight: bold;
    background-color: lightgreen;
}
.today{
    font-weight: bold;
    border: 2px solid black;
    background-color: lightskyblue;
}
footer img{
    height: 22px;
}